node_modules
package-lock.json
.env

commands/commands/setup.js
commands/commands/start.js
commands/commands/economy/daily.js
commands/commands/music
commands/upcoming-commands-base.js

commands/commands/moderation/modlogs.js
commands/commands/moderation/warnings.js

supportServer

models/blacklists

commands/commands/dev-only 
commands/commands/moderation/guildUserBlacklist.js

utils
modules