node_modules
package-lock.json
.env

commands/commands/setup.js
commands/commands/start.js
commands/commands/economy/daily.js
commands/commands/music
commands/upcoming-commands-base.js

supportServer

models/blacklists

commands/commands/dev-only 

//
models
commands/a.js
commands/commands/customisation
commands/commands/moderation/guildUserBlacklist.js